/* Estilização da calculadora.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    /*border: 1px solid red;
    padding: 20px;*/
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid blue;*/
    background-color: rgb(20, 19, 19);
}


























.calc{
    width: 290px;
    height: 430px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px 10px 0 10px;
    background-color: black;
    text-align: center;
}

input[type="text"]{
    width: 248px;
    height: 60px;
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.5);
}

.btn, .btn-zero{
    width: 47px;
    font-size: 25px;
    color: white;
    height: 47px;
    margin: 7px;
    border-radius: 8px;
    background-color: gray;
    text-shadow: 2px 2px 3px black;
}

.btn-zero{
    width: 110px;
}

/* 58 linhas */