/* Estilização da calculadora.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    /*border: 1px solid red;
    padding: 20px;*/
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid blue;*/
    background-color: #2f2841;/*rgb(20, 19, 19)*/
}

.calculadora{
    width: 300px;
    height: 430px;
    border-radius: 15px;
    /*padding: 20px 10px 0 10px;*/
    padding: 0 1rem;
    background-color: #f0ffffde;/*#000*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="text"]{
    width: 100%;/*248px*/
    height: 15%;/*60px*/
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid blue;
}

.botoes{
    width: 100%;
    height: 70%;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid blue;
}

.btn, .btn-zero{
    width: 47px;
    font-size: 25px;
    color: white;
    height: 47px;
    margin: 7px;
    border-radius: 8px;
    background-color: gray;
    text-shadow: 2px 2px 3px black;
}

.btn-zero{
    width: 110px;
}

/* 58 linhas */